.pagination {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.pagination li {
  list-style: none;
}
.pagination li a {
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  min-width: 32px;
  height: 32px;
  padding: 0px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
li.active {
  background-color: rgba(0, 0, 0, 0.08);
}
